<%- include('partials/head') %>
  <body>
    <h1>Family Wordle Scoreboard</h1>

    <div>
      <h2>Rankings</h2>
      <ul>
        <% for (let player of players) { %>
        <li>
          <%= player.name %> - Average Score: <%= player.averageScore.toFixed(2)
          %>
        </li>
        <% } %>
      </ul>
    </div>
    <div>
      <a href="/new">
        <!-- Changed button to an anchor tag with the "href" attribute -->
        <button>Add my score</button>
      </a>
      <a href="/newplayer">
        <button>Add a new player</button>
      </a>
    </div>
  </body>
</html>
