<%- include('partials/head') %>
  <body>
    <h1 class="text-center">
      Family Wordle Scoreboard
    </h1>

    <div class="row col-md-12">
      <h2 class="text-center">Rankings</h2>
      <ul class="text-center list-group mx-3">
        <% for (let player of players) { %>
        <li class="list-group-item">
          <%= player.name %> - Average Score: <%= player.averageScore.toFixed(2)
          %>
        </li>
        <% } %>
      </ul>
    </div>
    <div class="text-center">
      <a href="/new">
        <button class="btn mt-3 btn-info">Add my score</button>
      </a>
      <br/>
      <br/>
      <a href="/newplayer">
        <button class="btn btn-warning">Add a new player</button>
      </a>
    </div>
  </body>
</html>
