<%- include('partials/head') %>
  <body>
    <form action="/new" method="POST">
      <div>
        <label for="name">choose player:</label>
        <select id="name" name="name">
          <!-- Added name attribute -->
          <% for(player of players){ %>
          <option value="<%=player.name%>"><%= player.name %></option>
          <!-- Dynamically generate option values -->
          <% } %>
        </select>

        <label for="scores">How many guesses did it take you?</label>
        <input
          type="range"
          id="scores"
          name="scores"
          min="1"
          max="6"
          oninput="this.nextElementSibling.value = this.value"
        />
        <output for="scores" id="textInput"></output>
      </div>
      <button type="submit">Add score</button>
      <!-- Added type="submit" -->
    </form>
  </body>
</html>
