<%- include('partials/head') %>
  <body class="text-center mt-3">
    <form action="/newplayer" method="POST">
      <div>
        <label for="name">enter name:</label>
        <input type="text" name="name" id="name" />
      </div>
      <button type="submit" class="btn btn-warning mt-3">Add player</button>
      <!-- Added type="submit" -->
    </form>
  </body>
</html>
