<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new player</title>
  </head>
  <body>
    <form action="/newplayer" method="POST">
      <div>
        <label for="name">enter name:</label>
        <input type="text" name="name" id="name" />
      </div>
      <button type="submit">Add player</button>
      <!-- Added type="submit" -->
    </form>
  </body>
</html>
